[gcode_macro toolch_config]
#
variable_homed: 0
#
variable_status: 2
#
variable_speed_fast: 3000
variable_speed_slow: 1000
#
variable_lock_speed: 500
variable_lock_position: 90
#
variable_unlock_speed: 500
variable_unlock_position: 0
#
variable_last_tool: 0
#
variable_current_tool: 0
variable_no_tool: 0
#
variable_safe_y: -1
#
gcode:
  RESPOND PREFIX="info" MSG="Macro > TOOLCH_CONFIG"

[gcode_macro TOOLCH_INIT]
gcode: 
  RESPOND PREFIX="info" MSG="Macro > TOOLCH_INIT"
  MANUAL_STEPPER STEPPER=lock_stepper ENABLE=1
  TOOLCH_HOME

[gcode_macro TOOLCH_HOME]
gcode:
  RESPOND PREFIX="info" MSG="Macro > TOOLCH_HOME"
  MANUAL_STEPPER STEPPER=lock_stepper SET_POSITION={printer["gcode_macro toolch_config"].lock_position|float}
  TOOLCH_UNLOCK

[gcode_macro TOOLCH_LOCK]
gcode:
  RESPOND PREFIX="info" MSG="Macro > TOOLCH_LOCK"
  {% if printer["gcode_macro toolch_config"].status|int == 1 %}
    RESPOND PREFIX="info" MSG="Macro > TOOLCH_LOCK > already locked"
  {% else %}
    {% if printer["gcode_macro toolch_config"].homed|int == 1 %}
      {% set movepos = printer["gcode_macro toolch_config"].lock_position|int %}
      RESPOND PREFIX="info" MSG="Macro > TOOLCH_LOCK > moving to {movepos}"
      MANUAL_STEPPER STEPPER=lock_stepper SPEED={printer["gcode_macro toolch_config"].lock_speed|int} MOVE={movepos}
      SET_GCODE_VARIABLE MACRO=toolch_config VARIABLE=status VALUE=1
    {% else %}
      RESPOND TYPE="error" MSG="Macro > TOOLCH_LOCK > Error locking without unlocking first (not homed yet)"
    {% endif %}
  {% endif %}

[gcode_macro TOOLCH_UNLOCK]
gcode:
  {% if printer["gcode_macro toolch_config"].status|int == 0 %}
    RESPOND PREFIX="info" MSG="Macro > TOOLCH_LOCK > already unlocked"
  {% else %}
    RESPOND PREFIX="info" MSG="Macro > TOOLCH_UNLOCK"
    {% set movepos = printer["gcode_macro toolch_config"].unlock_position|float %}
    RESPOND PREFIX="info" MSG="Macro > TOOLCH_UNLOCK > moving to {movepos}"
    MANUAL_STEPPER STEPPER=lock_stepper MOVE={movepos} SPEED={printer["gcode_macro toolch_config"].unlock_speed|int} STOP_ON_ENDSTOP=1
    MANUAL_STEPPER STEPPER=lock_stepper SET_POSITION=0
    SET_GCODE_VARIABLE MACRO=toolch_config VARIABLE=homed VALUE=1
    SET_GCODE_VARIABLE MACRO=toolch_config VARIABLE=status VALUE=0
  {% endif %}
