[gcode_macro tool_config_0]
variable_name: "nothing"
variable_enabled: 1
variable_no_pickup: 1
variable_no_park: 1
variable_no_last: 1
# variable_offset_x: 0.0
# variable_offset_y: 0.0
# variable_offset_z: 0.0
# variable_park_offset_x: 10.0
# variable_park_offset_y: -100
# variable_park_depth_y: -10
gcode:
  M118 T0 > Configured
  
[extruder]
step_pin: ar49    #PC15
dir_pin: ar48     #PC13
enable_pin: ar47  #!PC14
step_distance: .002
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: ar46   #:PA8
sensor_type: NTC 100K beta 3950
sensor_pin: z:PA0
control: pid
pid_Kp: 22.2
pid_Ki: 1.08
pid_Kd: 114
min_temp: -130
max_temp: 250

# activate_gcode:
#   TOOL_PICKUP TOOL=0

# deactivate_gcode:
#   TOOL_PARK TOOL=0

[gcode_macro T0]
gcode:
  M118 Tx - park current
  TOOL_PARK_CURRENT
  M118 Tx - pickup
  #TOOL_PICKUP TOOL=0
  TOOL_PP MODE=1 TOOL=0
  M118 Tx - activate
  ACTIVATE_EXTRUDER EXTRUDER=extruder